@model SheetUpdateModel

<link rel="stylesheet" type="text/css" href="~/css/tables.css">

<style>
    .container {
        background-color: wheat;
    }
</style>

<h1 style="text-align: center">@Model.Name</h1>

<form method="post" data-spreadsheet-id="@ViewBag.SpreadsheetId" data-spreadsheet-name="@Model.Name" asp-controller="GoogleSheetsAPI"
      asp-action="UpdateSheet" asp-route-spreadsheetId="@ViewBag.SpreadsheetId">
    <input type="hidden" name="Name" value="@Model.Name" />
    <table class="table">
        <thead>
        <tr>
            <th class="other-check"></th>
            <th class="name-col">Име</th>
            <th class="other-col">Графика</th>
            <th class="name-col">E-mail</th>
            <th class="name-col">Телефон</th>
            <th class="other-col">Етап</th>
            <th class="other-col">Сграда</th>
            <th class="other-col">Ап.</th>
            <th class="note-col">Забележка</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Values.Count > 0)
        {
            @for (int i = 0; i < Model.Values.Count; i++)
            {
                <tr>
                    <td class="other-check">
                        <input type="checkbox" class="row-select" data-row-index="@i"/>
                    </td>
                    @for (int j = 0; j < Model.Values[i].Count; j++)
                    {
                        <td>
                            <input type="text" name="Values[@i][@j]" value="@Model.Values[i][j]?.ToString()"/>
                        </td>
                    }
                    <td>
                        <button type="button" class="deleteRow btn-danger" onclick="deleteRow(this)">Delete</button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px;">
        <button type="button" id="addRow" class="btn" style="background-color: #4CAF50; color: white;">Add Row</button>
        <input type="submit" value="Запази промените" class="btn" style="background-color: #008CBA; color: white;" />
        <button type="button" id="toggleButton" class="btn" style="background-color: #f44336; color: white;">Show Chart</button>
        <a href="@Url.Action("AllTables", "Data")" class="btn" style="background-color: #e7e7e7; color: black; text-decoration: none;">Back to All Tables</a>
    </div>
</form>

<div class="content-container" style="display: none;">
    <div class="form-container">
        <div class="chart-container">
            <div id="chart_div"></div>
            <button id="drawChartButton">Show Chart</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/tables.js"></script>